
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    /*padding-top: 70px;*/
     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    /*cursor:url(/images/other/tatgun.png), auto;*/
}
    /*cursor:url(/images/other/tatgun.png), auto;*/

/*a:hover {
 cursor:url(/images/other/tatgun.png), auto;
 }*/



/*make sure to delete this once making the mouse active*/

.GalleryBackground {
    width: 100%;
    background-color: #625e4d;
    margin-top: -20px;
    padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
    background-color: #4D625E;
}

.navbar {
	background-color: #4D625E;
	height: 9%;
    text-align: center;
}

img {
	border-radius: 5px 20px 5px;
	box-shadow: 10px 10px 5px #454337;

}

.portfolio-item:hover  > a > img {
	width: 100%;
	position: absolute;
	z-index: 3;
}

.page-header {
    color: #dfdbdc;
}

.page-header > small {
    color: #dfdbdc;
}


.full {
  background: url("http://www.9hdw.com/uploads/images/original/2013-06/2301_dark-abstract-art.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/*test modal*******************************************************************/

#myModal2 < img {
    margin-left: auto;
    margin-right: auto;
}
