
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: cursive;
    /*padding-top: 70px;*/
     /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    /*cursor:url(/images/other/tatgun.png), auto;*/
}
    /*cursor:url(/images/other/tatgun.png), auto;*/

/*a:hover {
 cursor:url(/images/other/tatgun.png), auto;
 }*/



/*make sure to delete this once making the mouse active*/

.GalleryBackground {
    width: 100%;
    background-color: #625e4d;
    margin-top: -20px;
    padding-top: 70px;
}

.portfolio-item {
    margin-bottom: 25px;
}

.portfolio-item > img {
    box-shadow: 10px 10px 5px #454337;
}

footer {
    margin: 50px 0;
    background-color: #4D625E;
}

.navbar {
	background-color: #4D625E;
	height: 9%;
    text-align: center;
    font-size: 2.5em;
}

.footerLink {
    margin-left: 160px;
}

.headerLink {
    margin-left: 160px;
}

.image {
    height: 604px;
    width: 462px;
    background-image: image("images/originals/snakeAxe3.png");
    /*opacity: .9;*/
    margin-left: auto;
    margin-right: auto;
}

img {
	border-radius: 5px 20px 5px;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}

.portfolio-item:hover  > a > img {
	width: 100%;
	position: absolute;
	z-index: 3;
}

.portfolio-item > a > img {
    box-shadow: 10px 10px 5px #383839;
}

.page-header {
    color: #dfdbdc;
}

.page-header > small {
    color: #dfdbdc;
}


.full {
  background: url("http://www.9hdw.com/uploads/images/original/2013-06/2301_dark-abstract-art.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainh1 {
    color: white;
    font-size: 4em;
    margin-left: 2%;
}

.maintxt {
    color: white;
    font-size: 1em;
    margin-left: 2%;
}

.modal-body {
    margin-left: 650px;
    margin-right: auto;
}

/*.modal {
    display: flex;
    justify-content: center;
}*/

iframe {
    float: center;
    margin-top: 5%;
}

.anchorInk {
    margin-top: 5%;
    display: inline-block;
    float: left;
}

.anchorContact {
    width: 33%;
    margin-top: 5%;
    height: 590px;
    text-align: center;
    font-size: 1.5em;
    color: white;

}

.logo {
    width: 400px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    background-image: url("http://www.anchorink.com/img/anchor_logo.png");
    background-repeat: no-repeat;
}

.anchorContainer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
