<hedder></hedder>

<div class="GalleryBackground">



<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery
                <small>Original Pieces</small>
            </h1>
        </div>
    </div>

    <!-- /.row -->
    <div class="row">
        <div data-toggle="modal" data-target="#myModala">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (1).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModala" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (1).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalb">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (2).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalb" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (2).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalc">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (3).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalc" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (3).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModald">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (4).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModald" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (4).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>

    <div class="row">
        <div data-toggle="modal" data-target="#myModale">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (5).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModale" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (5).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalf">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (6).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalf" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (6).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalg">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (7).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalg" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (7).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalh">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (8).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalh" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (8).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>


    <div class="row">
        <div data-toggle="modal" data-target="#myModali">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (9).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModali" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (9).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalj">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (10).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalj" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (10).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalk">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (11).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalk" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (11).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModall">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (13).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModall" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (13).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>


    <div class="row">
        <div data-toggle="modal" data-target="#myModalm">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (14).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalm" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (14).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModaln">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (15).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModaln" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (15).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalo">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (16).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalo" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (16).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalp">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (17).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalp" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (17).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>


    <div class="row">
        <div data-toggle="modal" data-target="#myModalq">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (18).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalq" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (18).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalr">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (19).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalr" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (19).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModals">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (20).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModals" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (20).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalt">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (21).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalt" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (21).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>


    <div class="row">
        <div data-toggle="modal" data-target="#myModalu">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (22).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalu" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (22).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalv">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (23).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalv" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (23).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalw">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (24).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalw" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (24).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalx">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (25).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalx" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (25).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>


    <div class="row">
        <div data-toggle="modal" data-target="#myModaly">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (26).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModaly" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (26).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalz">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (27).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalz" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (27).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalaa">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (28).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalaa" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (28).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalbb">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (29).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalbb" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (29).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>


    <div class="row">
        <div data-toggle="modal" data-target="#myModalcc">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (30).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalcc" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (30).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModaldd">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (31).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModaldd" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (31).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalee">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (32).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalee" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (32).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModalff">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/originals/og (33).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModalff" role="dialog">
            <div class="modal-body">
                <img src="images/originals/og (33).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>
















    
    <!-- /.row -->
    <!-- Projects Row -->

    <!-- /.row -->

    <hr>

    <!-- Pagination -->
    <!-- <div class="row text-center">
        <div class="col-lg-12">
            <ul class="pagination">
                <li>
                    <a href="#">&laquo;</a>
                </li>
                <li class="active">
                    <a href="#">1</a>
                </li>
                <li>
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>
                <li>
                    <a href="#">4</a>
                </li>
                <li>
                    <a href="#">5</a>
                </li>
                <li>
                    <a href="#">&raquo;</a>
                </li>
            </ul>
        </div>
    </div> -->
    <!-- /.row -->

    <hr>

    <!-- Footer -->
    <footer>
        <div class="row">
            <div class="col-lg-12">
                <p>Artist @ Anchor Ink</p>
            </div>
        </div>
        <!-- /.row -->
    </footer>

</div>
<!-- /.container -->

</div>
