<div class="row text-center">
    <div class="col-lg-12">
        <ul class="pagination">
            <li>
                <a href="#">&laquo;</a>
            </li>
            <li>
                <a ui-sref="tattoos1">1</a>
            </li>
            <li>
                <a ui-sref="tattoos2">2</a>
            </li>
            <li>
                <a ui-sref="tattoos3">3</a>
            </li>
            <li>
                <a ui-sref="tattoos4">4</a>
            </li>
            <li>
                <a ui-sref="tattoos5">5</a>
            </li>
            <li>
                <a href="#">&raquo;</a>
            </li>
        </ul>
    </div>
</div>
