<hedder></hedder>


<div class="GalleryBackground">

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery
                <small>Tattoos</small>
            </h1>
        </div>
    </div>




<div class="row">
    <div data-toggle="modal" data-target="#myModal37">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (37).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal37" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (37).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal38">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (38).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal38" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (38).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal39">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (39).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal39" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (39).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal40">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (40).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal40" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (40).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>

<div class="row">
    <div data-toggle="modal" data-target="#myModal41">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (41).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal41" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (41).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal42">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (42).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal42" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (42).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal43">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (43).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal43" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (43).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal44">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (44).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal44" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (44).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>

<div class="row">
    <div data-toggle="modal" data-target="#myModal45">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (45).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal45" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (45).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal46">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (46).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal46" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (46).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal47">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (47).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal47" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (47).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal48">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (48).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal48" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (44).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>



<pagination></pagination>
