<hedder></hedder>


<div class="GalleryBackground">

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery
                <small>Tattoos</small>
            </h1>
        </div>
    </div>



    <div class="row">
        <div data-toggle="modal" data-target="#myModal13">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (13).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal13" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (13).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal14">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (14).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal14" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (14).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal15">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (15).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal15" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (15).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal16">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (16).jpg" alt="">
                </a>
            </div>
        </div>


        <div class="modal fade" id="myModal16" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (16).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>

    <div class="row">
        <div data-toggle="modal" data-target="#myModal17">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (17).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal17" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (17).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal18">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (18).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal18" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (18).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal19">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (19).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal19" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (19).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal20">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (20).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal20" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (20).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

    </div>

    <div class="row">
        <div data-toggle="modal" data-target="#myModal21">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (21).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal21" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (21).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal22">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (22).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal22" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (22).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal23">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (23).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal23" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (23).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

        <!-- ***********************image end ************************* -->

        <div data-toggle="modal" data-target="#myModal24">
            <div class="col-md-3 portfolio-item">
                <a href="#">
                    <img class="img-responsive" src="images/Tattoos/tattoo (24).jpg" alt="">
                </a>
            </div>
        </div>

        <div class="modal fade" id="myModal24" role="dialog">
            <div class="modal-body">
                <img src="images/Tattoos/tattoo (24).jpg" alt="" />
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
        </div>

    </div>


<pagination></pagination>
