<hedder></hedder>


<div class="GalleryBackground">

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery
                <small>Tattoos</small>
            </h1>
        </div>
    </div>






<div class="row">
    <div data-toggle="modal" data-target="#myModal25">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (25).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal25" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (25).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal26">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (26).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal26" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (26).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal27">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (27).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal27" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (27).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal28">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (28).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal28" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (28).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>

<div class="row">
    <div data-toggle="modal" data-target="#myModal29">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (29).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal29" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (29).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal30">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (30).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal30" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (30).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal31">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (31).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal31" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (31).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal32">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (32).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal32" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (32).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>

<div class="row">
    <div data-toggle="modal" data-target="#myModal33">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (33).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal33" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (33).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal34">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (34).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal34" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (34).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal35">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (35).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal35" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (35).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal36">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattoo (36).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal36" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattoo (36).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>


<pagination></pagination>
