<hedder></hedder>


<div class="GalleryBackground">

<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Gallery
                <small>Tattoos</small>
            </h1>
        </div>
    </div>



<div class="row">
    <div data-toggle="modal" data-target="#myModal49">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (1).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal49" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (1).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal50">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (2).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal50" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (2).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal51">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (3).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal51" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (3).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal52">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (4).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal52" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (4).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>

<div class="row">
    <div data-toggle="modal" data-target="#myModal53">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (5).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal53" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (5).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal54">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (6).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal54" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (6).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal55">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (7).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal55" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (7).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal56">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (8).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal56" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (8).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>

<div class="row">
    <div data-toggle="modal" data-target="#myModal57">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (9).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal57" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (9).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

    <!-- ***********************image end ************************* -->

    <div data-toggle="modal" data-target="#myModal58">
        <div class="col-md-3 portfolio-item">
            <a href="#">
                <img class="img-responsive" src="images/Tattoos/tattooSm (10).jpg" alt="">
            </a>
        </div>
    </div>

    <div class="modal fade" id="myModal58" role="dialog">
        <div class="modal-body">
            <img src="images/Tattoos/tattooSm (10).jpg" alt="" />
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
    </div>

</div>

<pagination></pagination>
